/* -------------Mid  */
@media (max-width: 1480px) {
  body {
    background-color: lemonchiffon;
  }
  .titleContainer {
    border: solid burlywood;
    /* height: 40vh; */
    margin: 1em;
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
  }
  /* Notes: Usage of these to enhance @media:
      pseudo-items ::after to control events
      css property 'content' is being used to write text"
  */
  .titleContainer::after {
    font-size: 30px;
    content: " SEA BYC \A Services available: \A International Cargo shipping lines"; /* \A signifies new line*/
    white-space: pre; /* or pre-line */
    display: block; /* Ensure the content takes up its own block */
  }

  .picContainer {
    border: solid black;
    height: 40vh;
    background-image: url("../image/BYC-SEA.jpg"); /*use dot to move up one level folder*/
    /* background-size allows image to fill container*/
    background-size: cover; /* fills the container with image*/
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo {
    border: solid green;
    height: 20vh;
    margin: 2em;
  }
  #air {
    width: 33%;
    display: none;
  }
  #sea {
    width: 250px;
    display: block;
  }
  #land {
    width: 33%;
    display: none;
  }
}
